<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div id="js-text"></div><button id="js-click_me">Button</button>
<div id="js-person_bio"></div><button id="js-current_bio">Current Bio</button><button id="js-update_bio">Update Bio</button>